<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"> -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="layoutDBConfigLoader" class="it.micronixnetwork.gaf.service.layout.LayoutDBConfigLoader">
            <property name="domainService" ref="domainService" />
            <property name="sessionFactory" ref="sessionFactory" />
	</bean>
  
	<bean id="layoutDBLoaderTest" class="it.micronixnetwork.gaf.service.layout.LayoutConfigLoaderTest">
            <property name="description" value="Test caricamento layout" />
            <property name="layoutConfigLoader" ref="layoutDBConfigLoader" />
	</bean> 
		
	<alias name="layoutDBConfigLoader" alias="layoutConfigLoader"/>

	<!-- Servizio che permette di gestire la persistenza delle proprietà di una CARD nel DB -->
	<bean id="cardConfService" class="it.micronixnetwork.gaf.service.CardConfServiceImpl">
            <property name="domainService" ref="domainService" />
            <property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Servizio l'esecuzione delle query via hibernate direttamente nelle action -->
	<bean id="queryService" class="it.micronixnetwork.gaf.service.QueryServiceImpl">
            <property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Servizio per la gestione del menu principale -->
	<bean id="menuService" class="it.micronixnetwork.gaf.service.MenuServiceImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Servizio per l'interazione con i deck -->
	<bean id="domainService" class="it.micronixnetwork.gaf.service.DomainServiceImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Servizio per l'interazione con il file system -->
	<bean id="fileSystemService" class="it.micronixnetwork.gaf.service.FileSystemServiceImpl">
	</bean>

	<bean id="gafConfigService" class="it.micronixnetwork.gaf.service.ConfigServiceImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
